# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Go
bin/
pkg/
*.exe
*.test
*.out

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr

# Xcode Swift
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

*.xcresult